.tasks {
  max-width: 80%;
  margin: 20px auto;
}

.tasks li {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  transition: background-color .2s;
  border-radius: 5px;
}

.tasks li:hover {
  background-color: #4682b4;
  color: #fff;
  font-weight: 700;
}
.tasks li:hover * {
  color: #fff;
}

.tasks li div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.tasks li div * {
  cursor: pointer;
}

.edit {
  color: #4682b4;
}

.delete {
  color: #b04633;
}
