.main {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.main h1 {
  font-size: 25px;
  text-align: center;
}
